## Hello, Data!
** in this setp load raw CSV, display first 3 rows

In [98]:
# import necessary dependencies
import pandas as pd 
import random 
#
dataPath = 'Data/datafile.csv'
# Load the CSV file into a DataFrame
df = pd.read_csv(dataPath)
# using only the first 500 rows
df = df[:501]
print(df.info()) # Display the shape of the DataFrame
print(df.head(3)) # Display the first 3 rows of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          501 non-null    object
 1   Country         501 non-null    object
 2   Item Type       501 non-null    object
 3   Sales Channel   501 non-null    object
 4   Order Priority  501 non-null    object
 5   Order Date      501 non-null    object
 6   Order ID        501 non-null    int64
 7   Ship Date       501 non-null    object
 8   Units Sold      501 non-null    int64
 9   Unit Price      501 non-null    float64
 10  Unit Cost       501 non-null    float64
 11  Total Revenue   501 non-null    float64
 12  Total Cost      501 non-null    float64
 13  Total Profit    501 non-null    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 54.9+ KB
None
                         Region Country   Item Type Sales Channel  \
0  Middle East and North Africa   Libya   Cosmetics       Offline
1                 North America  Canada  Vegetables        Online
2  Middle East and North Africa   Libya   Baby Food       Offline

  Order Priority  Order Date   Order ID   Ship Date  Units Sold  Unit Price  \
0              M  10/18/2014  686800706  10/31/2014        8446      437.20
1              M   11/7/2011  185941302   12/8/2011        3018      154.06
2              C  10/31/2016  246222341   12/9/2016        1517      255.28

   Unit Cost  Total Revenue  Total Cost  Total Profit
0     263.33     3692591.20  2224085.18    1468506.02
1      90.93      464953.08   274426.74     190526.34
2     159.42      387259.76   241840.14     145419.62

In [99]:
    # this is an additional function 
    # to Renames columns in the DataFrame to a standardized format
def renamer(df):

    return df.rename(columns={
        "Item Type": "Item_Type",
        "Sales Channel": "Sales_Channel",
        "Order Priority": "Order_Priority",
        "Order Date": "Order_Date",
        "Order ID": "Order_ID",
        "Ship Date": "Ship_Date",
        "Units Sold": "Units_Sold",
        "Unit Price": "Unit_Price",
        "Unit Cost": "Unit_Cost",
        "Total Revenue": "Total_Revenue",
        "Total Cost": "Total_Cost",
        "Total Profit": "Total_Profit"
    })
    
df = renamer(df)  # Call the renamer function to rename columns
print(df.columns.tolist())  # Display the updated column names as a list

['Region', 'Country', 'Item_Type', 'Sales_Channel', 'Order_Priority', 'Order_Date', 'Order_ID', 'Ship_Date', 'Units_Sold', 'Unit_Price', 'Unit_Cost', 'Total_Revenue', 'Total_Cost', 'Total_Profit']

# Pick the Right Container
 - Class is preferred when you need to bundle data with behavior (methods)
 - Dict is best for simple, dynamic, and data storage when no attribute access or methods is needed.
- namedtuple is ideal for immutable records where you want attribute access but donâ€™t need methods or mutability.

In [100]:
# storing the data in to a list of dictionaries
#and reading the data from the list of dictionaries
data = df.to_dict(orient='records')
print(type(data))  # Display the type of data structure
print(len(data))  # Display the number of records in the list
print(type(data[0]))  # Display the type of the first record
print(data[0])  # Display the first records from the list of dictionaries
print(df.columns.tolist())  # Display the 'Category' column as a list

<class 'list'>
501
<class 'dict'>
{'Region': 'Middle East and North Africa', 'Country': 'Libya', 'Item_Type': 'Cosmetics', 'Sales_Channel': 'Offline', 'Order_Priority': 'M', 'Order_Date': '10/18/2014', 'Order_ID': 686800706, 'Ship_Date': '10/31/2014', 'Units_Sold': 8446, 'Unit_Price': 437.2, 'Unit_Cost': 263.33, 'Total_Revenue': 3692591.2, 'Total_Cost': 2224085.18, 'Total_Profit': 1468506.02}
['Region', 'Country', 'Item_Type', 'Sales_Channel', 'Order_Priority', 'Order_Date', 'Order_ID', 'Ship_Date', 'Units_Sold', 'Unit_Price', 'Unit_Cost', 'Total_Revenue', 'Total_Cost', 'Total_Profit']

## Transaction Class and OO data structure

In [101]:
from dataclasses import dataclass, field
from typing import Optional
from datetime import datetime

from dataclasses import dataclass

@dataclass
class Transaction:
    Region: str
    Country: str
    Item_Type: str
    Sales_Channel: str
    Order_Priority: str
    Order_Date: str
    Order_ID: str
    Ship_Date: str
    Units_Sold: float
    Unit_Price: float
    Unit_Cost: float
    Total_Revenue: float
    Total_Cost: float
    Total_Profit: float
    Coupon_Code: Optional[str] = field(default=None)
    Coupon_Discount: float = field(init=False, default=0.0)
    
# to create one Transaction object from the first record
transaction = Transaction(**data[0])
# Display the Transaction object
print(transaction)  # Display the Transaction object

Transaction(Region='Middle East and North Africa', Country='Libya', Item_Type='Cosmetics', Sales_Channel='Offline', Order_Priority='M', Order_Date='10/18/2014', Order_ID=686800706, Ship_Date='10/31/2014', Units_Sold=8446, Unit_Price=437.2, Unit_Cost=263.33, Total_Revenue=3692591.2, Total_Cost=2224085.18, Total_Profit=1468506.02, Coupon_Code=None, Coupon_Discount=0.0)

## Bulk Loader

In [102]:
# creat a Bulkloader function to handle bulk loading of transactions
# the objects of the class will be used to load the transactions from a CSV file

from typing import List

def load_transactions(path: str) -> List[Transaction]:
    df = pd.read_csv(path)
    # Rename columns if needed, e.g.:
    df = renamer(df)
    # call the renamer function to rename the columns
    data = df.to_dict(orient='records')
    return [Transaction(**row) for row in data] # use list comprehension to convert each row to a Transaction object

transactions = load_transactions(dataPath)  # Load transactions from the CSV file\
# Display the first 3 Transaction objects
print(Transactions[:3])  # Display the first 3 Transaction objects

[Transaction(Region='Middle East and North Africa', Country='Libya', Item_Type='Cosmetics', Sales_Channel='Offline', Order_Priority='M', Order_Date='10/18/2014', Order_ID=686800706, Ship_Date='10/31/2014', Units_Sold=8446, Unit_Price=437.2, Unit_Cost=263.33, Total_Revenue=3692591.2, Total_Cost=2224085.18, Total_Profit=1468506.02), Transaction(Region='North America', Country='Canada', Item_Type='Vegetables', Sales_Channel='Online', Order_Priority='M', Order_Date='11/7/2011', Order_ID=185941302, Ship_Date='12/8/2011', Units_Sold=3018, Unit_Price=154.06, Unit_Cost=90.93, Total_Revenue=464953.08, Total_Cost=274426.74, Total_Profit=190526.34), Transaction(Region='Middle East and North Africa', Country='Libya', Item_Type='Baby Food', Sales_Channel='Offline', Order_Priority='C', Order_Date='10/31/2016', Order_ID=246222341, Ship_Date='12/9/2016', Units_Sold=1517, Unit_Price=255.28, Unit_Cost=159.42, Total_Revenue=387259.76, Total_Cost=241840.14, Total_Profit=145419.62)]

## Quick Profiling

In [103]:
# Quick profiling of transactions

# Min, mean, max of Price using generator expressions
prices = (t.Unit_Price for t in transactions) # Create a generator for prices
min_price = min(prices)

# Need to re-create the generator since it's exhausted after min()
prices = (t.Unit_Price for t in transactions)
max_price = max(prices)

prices = (t.Unit_Price for t in transactions)
mean_price = sum(prices) / len(transactions)

print(f"Min Price: {min_price}")
print(f"Mean Price: {mean_price}")
print(f"Max Price: {max_price}")

# Count and present unique countries
unique_countries = {t.Country for t in transactions}
# 
print(f"Unique country count: {len(unique_countries)}")
print(f"Unique countries: {unique_countries}")

Min Price: 9.33
Mean Price: 262.10684
Max Price: 668.27
Unique country count: 185
Unique countries: {'Switzerland', 'Ireland', 'Canada', 'Qatar', 'Tunisia ', 'Tuvalu', 'Antigua and Barbuda ', 'Maldives', 'Myanmar', 'North Korea', 'Djibouti', 'Vatican City', 'Kenya', 'Samoa ', 'Belgium', 'China', 'East Timor', 'Austria', 'Benin', 'Lithuania', 'Nepal', 'Yemen', 'Jamaica', 'Monaco', 'Botswana', 'Denmark', 'Turkmenistan', 'Mozambique', 'Sao Tome and Principe', 'Sweden', 'Democratic Republic of the Congo', 'Republic of the Congo', 'India', 'San Marino', 'Dominica', 'South Sudan', 'Algeria', 'Bulgaria', 'Thailand', 'Kazakhstan', 'Macedonia', 'Guinea', "Cote d'Ivoire", 'Angola', 'Togo', 'Spain', 'Japan', 'Ghana', 'Albania', 'France', 'The Gambia', 'Cyprus', 'Oman', 'Nigeria', 'Belize', 'Hungary', 'Slovenia', 'Croatia', 'Philippines', 'Singapore', 'Lesotho', 'Georgia', 'United Arab Emirates', 'Cambodia', 'Mali', 'Liechtenstein', 'Netherlands', 'Saint Kitts and Nevis ', 'Afghanistan', 'Pakistan', 'Solomon Islands', 'Czech Republic', 'Taiwan', 'Kuwait', 'Latvia', 'Germany', 'Armenia', 'Malta', 'Grenada', 'Luxembourg', 'Kosovo', 'Morocco', 'Chad', 'Trinidad and Tobago', 'Cape Verde', 'Papua New Guinea', 'Italy', 'Nauru', 'Tonga', 'Jordan', 'Lebanon', 'Mexico', 'Tajikistan', 'Tanzania', 'Dominican Republic', 'United Kingdom', 'Zimbabwe', 'Ethiopia', 'Bhutan', 'Bosnia and Herzegovina', 'Madagascar', 'Somalia', 'Kyrgyzstan', 'Zambia', 'Central African Republic', 'Panama', 'Saint Lucia', 'Bahrain', 'Cameroon', 'Costa Rica', 'Cuba', 'South Korea', 'Niger', 'Malaysia', 'Vanuatu', 'Moldova ', 'Bangladesh', 'Malawi', 'Iceland', 'Syria', 'The Bahamas', 'Greece', 'South Africa', 'Gabon', 'Equatorial Guinea', 'Uganda', 'Burundi', 'United States of America', 'Norway', 'Guinea-Bissau', 'Romania', 'Libya', 'Serbia', 'Namibia', 'Marshall Islands', 'Poland', 'Burkina Faso', 'Laos', 'Saudi Arabia', 'Iran', 'Uzbekistan', 'Comoros', 'New Zealand', 'Palau', 'El Salvador', 'Russia', 'Sudan', 'Kiribati', 'Haiti', 'Egypt', 'Australia', 'Slovakia', 'Montenegro', 'Liberia', 'Barbados', 'Azerbaijan', 'Honduras', 'Iraq', 'Seychelles ', 'Sierra Leone', 'Greenland', 'Guatemala', 'Ukraine', 'Vietnam', 'Indonesia', 'Swaziland', 'Mauritania', 'Fiji', 'Belarus', 'Rwanda', 'Senegal', 'Nicaragua', 'Portugal', 'Brunei', 'Andorra', 'Estonia', 'Israel', 'Finland', 'Saint Vincent and the Grenadines', 'Mauritius ', 'Federated States of Micronesia', 'Mongolia', 'Sri Lanka', 'Eritrea', 'Turkey'}

## Spot the Grime

In [104]:
# Find transactions with dirty price values in the list 
# checking for 
     # negative values
     # "N/A" values 
     # strings in the Price field
def is_dirty_price():
    dirty_price = [t for t in transactions if (isinstance(t.Total_Cost, str) and t.Total_Cost == "N/A") or (isinstance(t.Total_Cost, (int, float)) and t.Total_Cost < 0)]
    print("Transactions with dirty price values:")
    for t in dirty_price:
     print(t)
# The data is clean so we can add randomly generated data to the transactions

# creating some random list of dirty values
dirty_values = [random.choice([None, "N/A", -1, 0, 'string']) for _ in range(10)]
# Adding dirty values to the transactions
for i in range(10):
    transactions[i].Total_Cost = dirty_values[i]

is_dirty_price()  # Call the function to check for dirty prices

# Now to clean the dirty prices
def clean_dirty_prices(transactions: List[Transaction]) -> List[Transaction]:
    cleaned_transactions = []
    for t in transactions:
        if isinstance(t.Total_Cost, str) and t.Total_Cost == "N/A":
            t.Total_Cost = 0.0  # Replace "N/A" with 0.0
        elif isinstance(t.Total_Cost, (int, float)) and t.Total_Cost < 0:
            t.Total_Cost = 0.0  # Replace negative values with 0.0
        cleaned_transactions.append(t)
    return cleaned_transactions

Transactions with dirty price values:
Transaction(Region='North America', Country='Canada', Item_Type='Vegetables', Sales_Channel='Online', Order_Priority='M', Order_Date='11/7/2011', Order_ID=185941302, Ship_Date='12/8/2011', Units_Sold=3018, Unit_Price=154.06, Unit_Cost=90.93, Total_Revenue=464953.08, Total_Cost='N/A', Total_Profit=190526.34, Coupon_Code=None, Coupon_Discount=0.0)
Transaction(Region='Asia', Country='Japan', Item_Type='Cereal', Sales_Channel='Offline', Order_Priority='C', Order_Date='4/10/2010', Order_ID=161442649, Ship_Date='5/12/2010', Units_Sold=3322, Unit_Price=205.7, Unit_Cost=117.11, Total_Revenue=683335.4, Total_Cost='N/A', Total_Profit=294295.98, Coupon_Code=None, Coupon_Discount=0.0)
Transaction(Region='Central America and the Caribbean', Country='Jamaica', Item_Type='Vegetables', Sales_Channel='Online', Order_Priority='H', Order_Date='1/29/2015', Order_ID=266467225, Ship_Date='3/7/2015', Units_Sold=2428, Unit_Price=154.06, Unit_Cost=90.93, Total_Revenue=374057.68, Total_Cost=-1, Total_Profit=153279.64, Coupon_Code=None, Coupon_Discount=0.0)
Transaction(Region='Australia and Oceania', Country='Fiji', Item_Type='Vegetables', Sales_Channel='Offline', Order_Priority='H', Order_Date='12/24/2013', Order_ID=118598544, Ship_Date='1/19/2014', Units_Sold=4800, Unit_Price=154.06, Unit_Cost=90.93, Total_Revenue=739488.0, Total_Cost=-1, Total_Profit=303024.0, Coupon_Code=None, Coupon_Discount=0.0)

## Cleaning Rules

In [105]:
# clean the dirty prices
# this a function that acceptes a list of Transaction objects
# and the column  name to returns a cleaned list of Transaction objects
def clean_dirty_col(transactions: list, col_name: str) -> list:
    cleaned_transactions = []
    for t in transactions:
        value = getattr(t, col_name)
        if isinstance(value, str) and value == "N/A":
            setattr(t, col_name, 0.0)
        elif isinstance(value, (int, float)) and value < 0:
            setattr(t, col_name, 0.0)
        cleaned_transactions.append(t)
    return cleaned_transactions

# to see tha dirty data call is_dirty_price() 
print("***************Dirty prices before cleaning***************")
is_dirty_price()
#  to clean data use the clean_dirty_col()
print("***************Cleaning dirty prices***************")
clean_dirty_col(transactions, 'Total_Cost')

# to see the cleaned data call is_dirty_price()
print("***************Dirty prices after cleaning***************")
is_dirty_price()

***************Dirty prices before cleaning***************
Transactions with dirty price values:
Transaction(Region='North America', Country='Canada', Item_Type='Vegetables', Sales_Channel='Online', Order_Priority='M', Order_Date='11/7/2011', Order_ID=185941302, Ship_Date='12/8/2011', Units_Sold=3018, Unit_Price=154.06, Unit_Cost=90.93, Total_Revenue=464953.08, Total_Cost='N/A', Total_Profit=190526.34, Coupon_Code=None, Coupon_Discount=0.0)
Transaction(Region='Asia', Country='Japan', Item_Type='Cereal', Sales_Channel='Offline', Order_Priority='C', Order_Date='4/10/2010', Order_ID=161442649, Ship_Date='5/12/2010', Units_Sold=3322, Unit_Price=205.7, Unit_Cost=117.11, Total_Revenue=683335.4, Total_Cost='N/A', Total_Profit=294295.98, Coupon_Code=None, Coupon_Discount=0.0)
Transaction(Region='Central America and the Caribbean', Country='Jamaica', Item_Type='Vegetables', Sales_Channel='Online', Order_Priority='H', Order_Date='1/29/2015', Order_ID=266467225, Ship_Date='3/7/2015', Units_Sold=2428, Unit_Price=154.06, Unit_Cost=90.93, Total_Revenue=374057.68, Total_Cost=-1, Total_Profit=153279.64, Coupon_Code=None, Coupon_Discount=0.0)
Transaction(Region='Australia and Oceania', Country='Fiji', Item_Type='Vegetables', Sales_Channel='Offline', Order_Priority='H', Order_Date='12/24/2013', Order_ID=118598544, Ship_Date='1/19/2014', Units_Sold=4800, Unit_Price=154.06, Unit_Cost=90.93, Total_Revenue=739488.0, Total_Cost=-1, Total_Profit=303024.0, Coupon_Code=None, Coupon_Discount=0.0)
***************Cleaning dirty prices***************
***************Dirty prices after cleaning***************
Transactions with dirty price values:

## Transformations

In [ ]:
# Randomly assign 'SAVE5', 'SAVE10', or 'SAVE15' to the Coupon_Code field for each transaction
for t in transactions:
    t.Coupon_Code = random.choice(['SAVE5', 'SAVE10', 'SAVE15'])

# showing reandom selected Coupon_code fields 
print(transactions[2].Coupon_Code)
print(transactions[3].Coupon_Code)
print(transactions[0].Coupon_Code)

# to extract the value of the discount from the coupon
# use RegEx
for t in transactions:
    t.

SAVE10
SAVE15
SAVE5